{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Task manager</h1>
    <h3 class="test_style">To Do List</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>New Task</label>
            <input type="text" name="title" placeholder="Enter issue name"><br>
        </div>
        <button class="ui teal basic button" type="submit">Add</button>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui gray label">Not completed</span>
    <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Close</a>
    {% else %}
    <span class="ui green label">Completed</span>
    <a class="ui blue button" href="{% url 'update' todo_id=todo.id %}">Open</a>
    {% endif %}
    <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Delete</a>
</div>
{% endfor %}
</div>

{% endblock content %}